* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a {
  color: white;
}

.header {
  width: 100%;
  height: 500px;
  background-color: yellow;
}

.hero-bg {
  width: 100%;
  height: 580px;
  background-image: url("ocean.jpg");
  background-size: cover;
  background-position: center;
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 445px;
}

.text-container {
  text-align: center;
  color: white;
}

.text-container h1 {
  font-weight: lighter;
  font-size: 40px;
  margin-bottom: 15px;
}

.text-container span {
  font-weight: 600;
  font-size: 20px;
}

.profile-picture {
  width: 180px;
  height: 180px;
  background-image: url("face.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  margin-bottom: 40px;
}

.hero {
  width: 100%;
  height: 500px;
  background-color: rgba(33, 55, 255, 0.85);
}

.navbar {
  height: 80px;
  width: 100%;
  background-color: rgba(33, 55, 255, 0.85);
  line-height: 80px;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: right;
  width: 70%;
  margin: 0 auto;
}

.nav-container h3 {
  color: white;
}

.nav-container a {
  color: white;
  font-weight: bold;
  margin-left: 50px;
  font-size: 15px;
}

.nav-container h3 {
  flex: 1;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.content {
  width: 100%;
  height: auto;
  display: flex;
}

.about {
  margin-top: 80px;
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subhead {
  font-weight: bold;
  font-size: 20px;
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;
}

#about-hr {
  margin-top: 5px;
  width: 60px;
  background-color: black;
  height: 2px;
}

.about p {
  width: 700px;
  line-height: 35px;
  font-size: 18px;
  margin: 0 auto;
}

.first-paragraph {
  margin-top: 70px;
  padding-bottom: 40px;
}

.projects {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}

.projects-container {
  width: 700px;
  display: flex;
  height: auto;
  justify-content: space-between;
  padding-top: 15px;
}

.project-box {
  width: 300px;
  height: 500px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.btn-demo {
  width: 120px;
  height: 45px;
  background-color: rgba(33, 55, 255, 1);
  border-radius: 3px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  margin-top: 30px;
}

.inside-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.inside-container h2 {
  font-size: 20px;
  font-weight: normal;
  padding-left: 30px;
  padding-top: 30px;
}

.inside-container p {
  padding-left: 30px;
  line-height: 30px;
  padding-top: 30px;
  padding-right: 15px;
}

.image-banner {
  width: 100%;
  height: 140px;
  background-image: url("moviesearch.PNG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 3px 3px 0 0;
}

.image-banner1 {
  background-image: url("weathersearch.PNG")
}

.cta {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}

.cta p {
  width: 700px;
  line-height: 35px;
  font-size: 18px;
}

.btn-container {
  padding-top: 50px;
  width: 700px;
  height: 100px;
}

.btn {
  padding: 1em 2em 1em 2em;
  background-color: rgba(33, 55, 255, 1);
  border-radius: 3px;
  font-weight: bold;
}

.weatherSearch {
  cursor: not-allowed;
}

@media only screen and (max-width: 1009px) {
  .cta p {
    width: 100%;
  }

  .btn-container {
    width: 100%;
  }

  .about p {
    width: 100%;
  }

  .projects-container {
    flex-direction: column;
    width: 100%;
  }

  .project-box {
    width: 100%;
    height: auto;
  }

  .projects {
    height: 1000px;
  }

  .first-box {
    margin-bottom: 100px;
  }

  .subhead {
    width: 100%;
  }

  .btn-demo {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 676px) {
  .navbar {
    display: none;
  }

  .hero-bg {
    height: 500px;
  }
}

@media only screen and (max-width: 436px) {
  .text-container h1 {
    font-size: 25px;
  }

  .text-container span {
    font-size: 15px;
  }

  .text-container {
    width: 100%;
  }

  .about {
    height: auto;
  }

  .hero-container {
    width: 100%;
  }

  .about p {
    font-size: 15px;
  }

  .container {
    width: 90%;
  }

  .project-box {
    height: 330px;
  }

  .inside-container p {
    display: none;
  }

  .inside-container {
    justify-content: center;
    align-items: center;
  }

  .inside-container h2 {
    padding: 0;
    padding-top: 30px;
  }

  .btn-demo {
    margin: 0;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .image-banner {
    flex: 1;
  }

  .cta p {
    font-size: 15px;
  }

  .btn-container {
    padding-bottom: 100px;
  }
}